<div class="lg:grid lg:grid-cols-3 gap-[25px]">
    <div class="lg:col-span-2">

        <!-- Welcome -->
        <app-welcome />

        <!-- Live Clicks -->
        <div class="mt-[25px]">
            <app-live-clicks />
        </div>

    </div>
</div>
<div class="lg:grid lg:grid-cols-3 gap-[25px]">
    <div>
        <!-- <app-sales-by-locations /> -->
    </div>
    <div>
        <!-- <app-olivia-congrats /> -->
    </div>
</div>
<div class="lg:grid lg:grid-cols-3 gap-[25px]">
    <div class="lg:col-span-2">

        <!-- Live Conversions Today -->
        <app-recent-orders />

    </div>
</div>
<div class="lg:grid lg:grid-cols-3 gap-[25px]">
</div>