<div>LIVE CLICKS RENDERED</div>
<div class="trezo-card bg-white dark:bg-[#0c1427] mb-[25px] p-[20px] md:p-[25px] rounded-md">
    <div class="trezo-card-header mb-[20px] md:mb-[25px] flex items-center justify-between">
        <div class="trezo-card-title">
            <h5 class="mb-0 flex items-center">
                <img src="assets/lottie/live.gif" alt="Live" style="width:28px; height:28px; margin-right:8px; display:inline-block; vertical-align:middle;" />
                Live Clicks Today
            </h5>
        </div>
        <div class="trezo-card-subtitle mt-[10px] sm:mt-0">
            <span class="text-xs text-gray-500">Otomatis update setiap 5 detik</span>
        </div>
    </div>
    <div class="trezo-card-content">
        <div class="table-responsive overflow-x-auto">
            <table class="w-full text-xs">
                <thead class="bg-gray-50 dark:bg-[#17213a] text-black dark:text-white">
                    <tr>
                        <th class="font-bold ltr:text-left rtl:text-right px-[20px] py-[11px] border-b border-gray-100 dark:border-[#172036]">Time</th>
                        <th class="font-bold ltr:text-left rtl:text-right px-[20px] py-[11px] border-b border-gray-100 dark:border-[#172036]">SUB ID</th>
                        <th class="font-bold ltr:text-left rtl:text-right px-[20px] py-[11px] border-b border-gray-100 dark:border-[#172036]">Geo</th>
                        <th class="font-bold ltr:text-left rtl:text-right px-[20px] py-[11px] border-b border-gray-100 dark:border-[#172036]">OS</th>
                        <th class="font-bold ltr:text-left rtl:text-right px-[20px] py-[11px] border-b border-gray-100 dark:border-[#172036]">IP</th>
                        <th class="font-bold ltr:text-left rtl:text-right px-[20px] py-[11px] border-b border-gray-100 dark:border-[#172036]">Ref</th>
                    </tr>
                </thead>
                <tbody class="text-black dark:text-white">
                    <tr *ngFor="let click of clicks">
                        <td class="ltr:text-left rtl:text-right px-[20px] py-[11px] border-b border-gray-100 dark:border-[#172036]">{{ click.time }}</td>
                        <td class="ltr:text-left rtl:text-right px-[20px] py-[11px] border-b border-gray-100 dark:border-[#172036]">{{ click.sub_id }}</td>
                        <td class="ltr:text-left rtl:text-right px-[20px] py-[11px] border-b border-gray-100 dark:border-[#172036]">
                          <span class="flex items-center gap-2">
                            <img *ngIf="click.country" [src]="'assets/flags/' + (click.country ? click.country.toLowerCase() : '') + '.svg'" class="inline-block" width="20" height="18" style="display:inline-block;vertical-align:middle;border-radius:2px;" alt="{{click.country}}" />
                            <span style="font-size:16px;line-height:18px;display:inline-block;">{{ click.country }}</span>
                          </span>
                        </td>
                        <td class="ltr:text-left rtl:text-right px-[20px] py-[11px] border-b border-gray-100 dark:border-[#172036]">
                            <img *ngIf="click.os === 'android'" src="assets/images/android.svg" width="20" height="20" style="display:inline-block;vertical-align:middle;" alt="android" />
                            <img *ngIf="click.os === 'ios'" src="assets/images/apple.svg" width="20" height="20" style="display:inline-block;vertical-align:middle;" alt="ios" />
                            <img *ngIf="click.os === 'mac'" src="assets/images/mac.svg" width="20" height="20" style="display:inline-block;vertical-align:middle;" alt="mac" />
                            <img *ngIf="click.os === 'windows'" src="assets/images/window.svg" width="20" height="20" style="display:inline-block;vertical-align:middle;" alt="windows" />
                            <i *ngIf="click.os === 'unknown'" class="fas fa-question text-gray-500 text-2xl"></i>
                        </td>
                        <td class="ltr:text-left rtl:text-right px-[20px] py-[11px] border-b border-gray-100 dark:border-[#172036]">{{ click.ip }}</td>
                        <td class="ltr:text-left rtl:text-right px-[20px] py-[11px] border-b border-gray-100 dark:border-[#172036]">
                            <img *ngIf="click.refIcon" [src]="click.refIcon" width="20" height="20" style="display:inline-block;vertical-align:middle;" alt="ref" />
                            <span *ngIf="!click.refIcon && click.referer">{{ click.referer }}</span>
                            <img *ngIf="!click.refIcon && !click.referer" src="assets/images/socials/browser.svg" width="20" height="20" style="display:inline-block;vertical-align:middle;" alt="browser" />
                        </td>
                    </tr>
                    <tr *ngIf="!clicks.length">
                        <td colspan="6" class="text-center py-4">Belum ada data klik.</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div> 