CREATE TABLE conversions ( id INT NOT NULL AUTO_INCREMENT PRIMARY KEY, 
etwork VARCHAR(50) NOT NULL, subid VARCHAR(100) NOT NULL, payout DECIMAL(10,2) NOT NULL, country VARCHAR(10) NOT NULL, 	ime DATETIME NOT NULL ) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
