<div class="trezo-card bg-white dark:bg-[#0c1427] mb-[25px] p-[25px] rounded-md">
    <div class="trezo-card-content">
        <div class="flex items-center justify-between">
            <div class="flex items-center">
                <span class="block">
                    Total Revenue
                </span>
            </div>
            <span class="block text-sm">
                This Year
            </span>
        </div>
        <h5 class="text-[18px] md:text-[20px] mb-0 mt-[4px]">
            $72,458
        </h5>
    </div>
</div>