.dark .apexcharts-loading,
.dark .apexcharts-loader,
.dark .apexcharts-loading-text {
  color: #fff !important;
  fill: #fff !important;
}

.dark .progress-bar-country {
  background: #86ff00 !important;
}
.dark .progress-bar-country-text {
  color: #fff !important;
}

.progress-bar-country, .dark .progress-bar-country {
  background: #86ff00 !important;
}

.progress-bar-country-text, .dark .progress-bar-country-text {
  color: #fff !important;
}